.total {
    font-weight: bold;
}

.nfl-index {
    position: absolute;
    z-index: 9;
    left: 15px;
}

.red {
    float: left;
    padding-left: -15px;
    width: 15px;
    height: 150px;

    background-color: #ffffff;
    box-shadow: -10px 0px 10px -5px rgba(255, 5, 2, 0.5);
}

.green {
    float: left;
    padding-left: -15px;
    width: 15px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: -10px 0px 10px -5px rgba(48, 255, 40, 0.5);
}

.blue {
    float: left;
    padding-left: -15px;
    width: 15px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: -10px 0px 10px -5px rgba(73, 139, 255, 0.5);
}