.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #d8dde6;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-table th,
.custom-table td {
    padding: 12px;
    text-align: left;
    border-right: 1px solid #d8dde6;
    border-bottom: 1px solid #d8dde6;
}

.custom-table th:last-child,
.custom-table td:last-child {
    border-right: none;
}

.custom-table tr:last-child td {
    border-bottom: none;
}

.custom-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

.custom-table tbody tr:hover {
    background-color: #f1f1f1;
}

.custom-table .dec {
    text-align: center;
}

.name-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.delete-button {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.detail-section {
    margin-top: 0.5rem;
}